/* 
Color Code 
#0860D9 Blue
#D9043D Red
#FFCF3E Yellow
#F5A30D Orangy yellow
#109667 Green
#04BCD4 bright blue
#ED52B1 Pink
#B35CBB Purple
#D9DBE4 Grey
#FFFAF3 Yellowish white
#170303 Blackish red
#F8F8FF Ghostwhite */

/* General style */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Mono";
}

@font-face {
  font-family: "Magicstra Demo";
  src: url("MagicstraDemoRegular.ttf") format("truetype");
}

/* Header Menu */
header {
  margin: 0;
  padding: 5px;
  background-color: #fffaf3;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.header-logo {
  max-width: 150px;
  align-items: center;
  vertical-align: middle;
}

#header-logo-title {
  max-width: 200px;
  display: block;
  margin: auto;
}

.menu-btn {
  position: fixed;
  top: 140px;
  margin: 0;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-btn-hamburger {
  align-items: center;
  position: inherit;
  width: 50px;
  height: 6px;
  background: rgb(85, 26, 139);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-hamburger::before,
.menu-btn-hamburger::after {
  position: absolute;
  left: 0;
  content: "";
  width: 50px;
  height: 6px;
  background: rgb(85, 26, 139);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-hamburger::before {
  transform: translateY(-16px);
}

.menu-btn-hamburger::after {
  transform: translateY(16px);
}

/* Animate Burger Menu */
.menu-btn.open .menu-btn-hamburger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn-hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* Navigation items */
.nav-header {
  visibility: hidden;
  display: none;
}

.change {
  display: initial;
  visibility: visible;
}

.nav-item {
  list-style-type: none;
  padding: 10px;
}

.header-nav-link {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.header-nav-link:hover {
  color: #fffaf3;
  background-color: rgb(85, 26, 139);
}

/*Main content*/

/* Committee member styles */
.section-title {
  font-size: 45px;
  padding-left: 30px;
  padding-top: 30px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  border-right: solid 8px white;
}

/*Animation for title*/
.section-title {
  animation: animated-text 4s steps(14) 1s 1 normal both,
    animated-cursor 1000ms steps(14) infinite;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 370px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}

#committee-background {
  background-image: linear-gradient(#b35cbb, #0860d9);
  background-color: #04bcd4;
  padding-bottom: 25px;
}

#committee-description {
  font-size: 17px;
  text-align: left;
  font-family: "IBM Plex Mono", monospace;
  padding-bottom: 20px;
  padding-left: 30px;
  color: white;
}

.committee-pictures {
  max-width: 100%;
  object-fit: cover;
  padding-left: 60px;
  padding-top: 30px;
  display: block;
}

.container {
  position: relative;
  width: 25%;
  float: left;
  background-color: #04bcd4;
  background-image: linear-gradient(#0860d9, #04bcd4);
  padding-bottom: 30px;
  max-width: 100%;
  height: auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.overlay {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 60px;
  right: 0;
  width: 250px;
  height: 250px;
  background-color: #0860d9;
  opacity: 0;
  width: 250px;
  height: 250px;
  transition: 0.5s ease;
  max-width: 100%;
}

.container:hover .overlay {
  opacity: 0.75;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 40%;
  transform: -50%, -50%;
  text-align: left;
}

.committee-names {
  text-align: center;
  font-size: 20px;
  color: white;
}

/*Footer Design*/
.footer-grid {
  font-size: 15px;
  font-family: "Lucida", cursive;
  background-color: #170303;
  color: #f8f8ff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 80px;
  grid-template-areas:
    "a b"
    "a b"
    "a b";
  clear: both;
}

.footer-title {
  font-size: 20px;
  text-align: center;
}

.footer-left {
  background-color: #170303;
  border: 10px solid;
  border-right: 5px solid;
  padding: 20px;
  text-align: left;
  grid-area: a;
}

.footer-right {
  background-color: #170303;
  border: 10px solid;
  border-left: 5px solid;
  padding: 20px;
  text-align: left;
  grid-area: b;
}

.footer-center {
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: #f8f8ff;
}

.footer-link:hover {
  color: crimson;
}

/*Scrolling*/
html {
  scroll-behavior: smooth;
}

/*Line divider*/
hr {
  border-top: 5px #f8f8ff;
  text-decoration: underline;
}

/* Bigger screen */
@media (min-width: 600px) {
  .header-nav-link {
    display: inline;
    font-size: 25px;
  }

  #header-logo-title {
    max-width: 250px;
    display: inline;
    vertical-align: middle;
  }

  .menu-btn {
    top: 50px;
    margin: auto;
  }
}

@media (min-width: 1000px) {
  header {
    text-align: left;
    display: flex;
  }

  #header-logo-title {
    margin: 0;
  }

  .nav-header {
    padding: 0;
    margin-left: auto;
    display: inline;
    visibility: visible;
  }

  .header-nav-link {
    padding: 15px;
    font-size: 25px;
    display: inline;
  }

  .menu-btn {
    display: none;
  }

  .nav-item {
    display: inline;
    padding: 0;
  }

  .change .open {
    display: inline;
  }
}
