/* 
Color Code 
#0860D9 Blue
#D9043D Red
#FFCF3E Yellow
#F5A30D Orangy yellow
#109667 Green
#04BCD4 bright blue
#ED52B1 Pink
#B35CBB Purple
#D9DBE4 Grey
#FFFAF3 Yellowish white
#170303 Blackish red
#F8F8FF Ghostwhite */

/* General style */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Mono";
}

@font-face {
  font-family: "Magicstra Demo";
  src: url("MagicstraDemoRegular.ttf") format("truetype");
}

/* Header Menu */
header {
  margin: 0;
  padding: 5px;
  background-color: #fffaf3;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.header-logo {
  max-width: 150px;
  align-items: center;
  vertical-align: middle;
}

#header-logo-title {
  max-width: 200px;
  display: block;
  margin: auto;
}

.menu-btn {
  position: absolute;
  margin-top: 140px;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-btn-hamburger {
  align-items: center;
  position: inherit;
  width: 50px;
  height: 6px;
  background: rgb(85, 26, 139);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-hamburger::before,
.menu-btn-hamburger::after {
  position: absolute;
  left: 0;
  content: "";
  width: 50px;
  height: 6px;
  background: rgb(85, 26, 139);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-hamburger::before {
  transform: translateY(-16px);
}

.menu-btn-hamburger::after {
  transform: translateY(16px);
}

/* Animate Burger Menu */
.menu-btn.open .menu-btn-hamburger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn-hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* Navigation items */
.nav-header {
  visibility: hidden;
  display: none;
}

.change {
  display: initial;
  visibility: visible;
}

.nav-item {
  list-style-type: none;
  padding: 10px;
}

.header-nav-link {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: rgb(85, 26, 139);
  font-weight: 600;
  font-size: 20px;
}

.header-nav-link:hover {
  color: #fffaf3;
  background-color: rgb(85, 26, 139);
}

.header-nav-link:active {
  color: #fffaf3;
  background-color: #ed52b1;
}

/*Main body */

/* Committee member styles */

body{
  min-height: 100vh;
  position: relative;
}
body::before{
  content: '';
  position: absolute;
  width: 100%;
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%;
}

.section-title {
  font-size: 45px;
  padding-left: 30px;
  padding-top: 30px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  border-right: solid 8px white;
}

/*Animation for title*/
.section-title {
  animation: animated-text 4s steps(14) 1s 1 normal both,
    animated-cursor 1000ms steps(14) infinite;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 370px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}

#committee-background {
  background-image: linear-gradient(#b35cbb, #0860d9);
  background-color: #04bcd4;
  padding-bottom: 25px;
}

#committee-description {
  font-size: 17px;
  text-align: left;
  font-family: "IBM Plex Mono", monospace;
  padding-left: 30px;
  color: white;
}

.committee-pictures {
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.content {
  max-width: 1024px;
  width: 100%;
  padding: 80px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 280px;
  background-color: #FFFAF3;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;   
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: #B35CBB;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card .text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: left;
  margin-top: 20px;
  color: #0860D9;
  font-weight: 200;
  letter-spacing: 1px;
  opacity: 0;
  max-height:0;
  transition: all 0.3s ease;
  padding-left: 30px;
}

.card:hover {
  height: 380px;
}

.card:hover .info {
  height: 90%;
}

.card:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height:40px;
}

/*.content .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active{
  width: 35px;
}
#one:checked ~ .button .one{
  width: 35px;
}
#one:checked ~ .button .two{
  width: 15px;
}
#two:checked ~ .button .one{
  width: 15px;
}
#two:checked ~ .button .two{
  width: 35px;
}
input[type="radio"]{
  display: none;
}*/

@media screen and (max-width: 767px) {
  .content {
     padding-top: 300px;
     flex-direction: column;
  }
}

/*Footer Design*/
.footer-grid {
  font-size: 15px;
  font-weight: bold;
  font-family: "IBM Plex Mono", monospace;
  color: #551a8b;
  background-color: #f8f8ff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 80px;
  grid-template-areas:
    "a b c"
    "a b c"
    "a b c";
  clear: both;
}

.footer-title {
  font-size: 20px;
  text-align: center;
}

.footer-left {
  padding: 20px;
  text-align: left;
  grid-area: a;
}

.footer-middle {
  padding: 20px;
  text-align: left;
  grid-area: b;
}

.footer-right {
  padding: 20px;
  text-align: left;
  grid-area: c;
}

.footer-center {
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: #551a8b;
  transition: 1s;
}

.footer-link:hover {
  color: crimson;
  font-size: 20px;
}

/*Scrolling*/
html {
  scroll-behavior: smooth;
}

/*Line divider*/
.hr1 {
  border-top: 1px solid #170303;
}

.hr2 {
  border-top: 3px solid #170303;
}

/* Bigger screen */
@media (min-width: 600px) {
  .header-nav-link {
    display: inline;
    font-size: 25px;
  }

  #header-logo-title {
    max-width: 250px;
    display: inline;
    vertical-align: middle;
  }

  .menu-btn {
    margin-top: 50px;
  }
}

@media (min-width: 1000px) {
  header {
    text-align: left;
    display: flex;
  }

  #header-logo-title {
    margin: 0;
  }

  .nav-header {
    padding: 0;
    margin-left: auto;
    display: inline;
    visibility: visible;
  }

  .header-nav-link {
    padding: 15px;
    font-size: 25px;
    display: inline;
  }

  .menu-btn {
    display: none;
  }

  .nav-item {
    display: inline;
    padding: 0;
  }

  .change .open {
    display: inline;
  }
}

@media (max-width: 600px) {
  .footer-grid {
    display: inline;
  }
}
